<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ settings.favicon |  image_url }}" type="image/x-icon">
  {{ content_for_header }}
</head>
<body>
  {{ content_for_layout }}
</body>
</html>