{% assign var = '#11d421' %}

{% style %}
  .divider {
      display: flex;
      justify-content: center;
      align-content: center;
  }
  .header1 {
      color: {{ var }};
      text-transform: uppercase;
  }
{% endstyle %}
<div class="divider">
  <h1 class="header1">Test</h1>
</div>
