{% comment %}
  This is .liquid comment, it is not rendered and it's not sent by the server to the client
{% endcomment %}

<p>test</p>
<!-- This is HTML comment, it is not rendered but it's sent by the server to the client -->
