.highlight {
    background-color: yellow;
}

.swatch {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    display: block !important;
    margin: 20px;
}

.bigger-swatch {
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
    display: block !important;
    margin: 20px;
    text-align: center;
}